# ch5 MUTUABLE DATASTRUCTURE

## List[]

In [1]:
#creation of list
l=[]
print(l)
print(type(l))

[]
<class 'list'>

In [3]:
l=[10,40,60,30]
print(l)
print(type(l))
l[1]=39
print(l)

[10, 40, 60, 30]
<class 'list'>
[10, 39, 60, 30]

In [4]:
#get value from user
l=eval(input("enter any values"))
print(l)
print(type(l))

enter any values[10,20,30]
[10, 20, 30]
<class 'list'>

In [5]:
l=eval(input("enter any values"))
print(l)
print(type(l))

enter any values(10,20,30)
(10, 20, 30)
<class 'tuple'>

In [6]:
l=eval(input("enter any values"))
print(l)
print(type(l))

enter any values{10,60,39,30}
{10, 60, 30, 39}
<class 'set'>

In [7]:
#creation of list by using list()
l=list(range(0,12,2))
print(l)
print(type(l))

[0, 2, 4, 6, 8, 10]
<class 'list'>

In [8]:
s="shlok"
l=list(s)
print(l)
print(type(l))

['s', 'h', 'l', 'o', 'k']
<class 'list'>

In [9]:
#creation of list by using split()
s="B9 is back"
l=s.split()
print(l)
print(type(l))

['B9', 'is', 'back']
<class 'list'>

In [10]:
s="20-02-2025"
l=s.split('2')
print(l)
print(type(l))

['', '0-0', '-', '0', '5']
<class 'list'>

In [13]:
#access element of list
#1)by using index
#2)by using slice operator
l=[10,30,40,50,10,60]
print(l[4])
#l[10]
print(l[-4])
#l[-8]
print(l[::-1])
print(l[::2])
print(l[:7:1])
print(l[-1:-4:-1])

10
40
[60, 10, 50, 40, 30, 10]
[10, 40, 10]
[10, 30, 40, 50, 10, 60]
[60, 10, 50]

In [14]:
l=[10,20,30,40,50,10,60]
print(l.count(10))
print(l.count(60))
print(l.count(100))
print(l.index(10))
print(l.index(60))
print(l.index(100))

2
1
0
0
6

ValueError: 100 is not in list

In [16]:
l=[10,20,30,40,50,10,60]
l.insert(1,39)
print(l)
l.insert(-10,390)
print(l)
l.insert(10,390)
print(l)

[10, 39, 20, 30, 40, 50, 10, 60]
[390, 10, 39, 20, 30, 40, 50, 10, 60]
[390, 10, 39, 20, 30, 40, 50, 10, 60, 390]

In [10]:
#for adding---append(),insert(),extend()
l=[10,20,30,40,50,10,60]
print("original list=",l)
l.append(39)
print("appended list=",l)
l.insert(2,93)
print("inserted list=",l)
l.insert(100,"hey")#if index is greater than length then it set last
print("inserted list=",l)
l1=[70,80,90]
l.extend(l1)
print("extended list=",l)
print(len(l))
#list ni andar string ne extend kariye to tena badha j element chuta padi jase ne tene list ma count thase
l2=[1,2,3,4]
l3="hey buddy"
l2.extend(l3)
print(len(l2))

original list= [10, 20, 30, 40, 50, 10, 60]
appended list= [10, 20, 30, 40, 50, 10, 60, 39]
inserted list= [10, 20, 93, 30, 40, 50, 10, 60, 39]
inserted list= [10, 20, 93, 30, 40, 50, 10, 60, 39, 'hey']
extended list= [10, 20, 93, 30, 40, 50, 10, 60, 39, 'hey', 70, 80, 90]
13
13

In [21]:
#for removing---pop(),remove(),clear()
l=[10, 20, 93, 30, 40, 50, 10, 60, 39, 'hey', 70, 80, 90]
print("original list=",l)
l.pop()#with index we remove element
print("one time pop list=",l)
#l.pop(13) IndexError: pop index out of range
l.pop(3)
print("second time pop using index list=",l)
l.remove(10)#with value we remove element
print("one time remove using value list=",l)
#l.remove(99) ValueError: list.remove(x): x not in list
l.clear()
print("clear list=",l)

original list= [10, 20, 93, 30, 40, 50, 10, 60, 39, 'hey', 70, 80, 90]
one time pop list= [10, 20, 93, 30, 40, 50, 10, 60, 39, 'hey', 70, 80]
second time pop using index list= [10, 20, 93, 40, 50, 10, 60, 39, 'hey', 70, 80]
one time remove using value list= [20, 93, 40, 50, 10, 60, 39, 'hey', 70, 80]
clear list= []

In [23]:
#reverse()
l=[1,2,3,4]
print("original list=",l)
l.reverse()
print("reversed list=",l)

original list= [1, 2, 3, 4]
reversed list= [4, 3, 2, 1]

In [27]:
#sort()
l=[10, 20, 93, 30, 40, 50, 10, 60, 39, 70, 80, 90]
print("original list=",l)
l.sort()
print("sorted list=",l)
l.sort(reverse=True)
print("descending list=",l)
l1=[1, 2, 3, 4,'hey']
#l1.sort() TypeError: '<' not supported between instances of 'str' and 'int'

original list= [10, 20, 93, 30, 40, 50, 10, 60, 39, 70, 80, 90]
sorted list= [10, 10, 20, 30, 39, 40, 50, 60, 70, 80, 90, 93]
descending list= [93, 90, 80, 70, 60, 50, 40, 39, 30, 20, 10, 10]

In [29]:
#iteration in list
l1=[1, 2, 3, 4,'hey']
for i in l1:
    print(i)

1
2
3
4
hey

In [31]:
i=0
while i<len(l):
    print(l[i])
    i+=1

93
90
80
70
60
50
40
39
30
20
10
10

In [35]:
#mathematical operation
l=[1,2,3,4]
l1=[5,6,7,8,9]
print(l+l1)
print(l*3)
#print(l+10) TypeError: can only concatenate list (not "int") to list
print(l+[10])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 10]

In [36]:
#membership operation
l=[1,2,3,4]
print(3 in l)
print(39 in l)
print(3 not in l)
print(39 not in l)

True
False
False
True

In [39]:
#comparison operation
l1=[1,2,3,4]
l2=[5,2,3,4]
l3=[1,2,3,4,5,6]
l4=[1,2,3,4,5]
print(l1<l2)
print(l2<l4)
print(l1<l3)
print(l1<l4)
print(l3<l4)

True
False
True
True
False

In [45]:
l=['ahb','mn','oihv']
l1=['jb','voiuy','dpoc']
l2=['ahb','mn','oihv']
print(l<l2)
print(l2<l)
print(l1>l2)
print(l1<l)
print(l==l2)

False
False
True
False
True

### ALIASING AND CLONNING OF LIST

In [46]:
#ALIASING
l=[1,2,3,4]
temp=l
temp[1]=100
print(temp)
print(l)

[1, 100, 3, 4]
[1, 100, 3, 4]

In [50]:
#CLONNIG trick:-1(create a clonning by using slice operator)
l=[1,2,3,4]
temp=l[:]
temp[1]=100
print(l)
print(temp)

[1, 2, 3, 4]
[1, 100, 3, 4]

In [51]:
#CLONNIG trick:-2(create a clonning by using copy())
l=[1,2,3,4]
temp=l.copy()
temp[1]=100
print(l)
print(temp)

[1, 2, 3, 4]
[1, 100, 3, 4]

In [57]:
#nested list
l=[1,2,3,[4,5,6]]
print(l)
print(len(l))
print(l[2][1])

[1, 2, 3, [4, 5, 6]]
4

TypeError: 'int' object is not subscriptable

In [58]:
l=[[1,2,3],[4,5,6],[7,8,9]]
for i in l:
    print(l)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [59]:
#list comprehension
l=[i**2 for i in range(0,10)]
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [61]:
#tuple
t=tuple(i**2 for i in range(0,10))
print(t)

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [62]:
#set
s=set(i**2 for i in range(0,10))
print(s)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [64]:
#dictionary
d={i:i**2 for i in range(0,10)}
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [8]:
fruit=["apple","kivy","banana","ananas","blue berry"]
for i in fruit:
    if 'a' not in i:
        fruit.remove(i)
print(fruit)

['apple', 'banana', 'ananas']

In [10]:
fruit=["apple","kivy","banana","ananas","blue berry"]
l=[]
for i in fruit:
    if 'a' in i:
        l.append(i)
print(l)

['apple', 'banana', 'ananas']

In [12]:
#comrehension code
fruit=["apple","kivy","banana","ananas","blue berry"]
l=[i for i in fruit if 'a' in i]
print(l)

['apple', 'banana', 'ananas']

In [15]:
l=[x**2 for x in range(0,10)]
even=[i for i in l if i%2==0]
print(even)

[0, 4, 16, 36, 64]

In [19]:
l={x**2 for x in range(0,10)}
print(l)
print(type(l))
even={i for i in l if i%2==0}
print(even)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}
<class 'set'>
{0, 64, 4, 36, 16}

In [24]:
l={x:x**2 for x in range(0,10)}
print(l)
print(type(l))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
<class 'dict'>

In [25]:
#aama generator aave atle tuple lakhvu
l=(x**2 for x in range(0,10))
print(l)
print(type(l))

<generator object <genexpr> at 0x000001C597C094A0>
<class 'generator'>

In [26]:
l=tuple(x**2 for x in range(0,10))
print(l)
print(type(l))

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)
<class 'tuple'>

In [30]:
a=["A","D","c","0","B","3959","1254","8"]
a.sort()
print(a)

['0', '1254', '3959', '8', 'A', 'B', 'D', 'c']

In [39]:
a=["data",'apple','bananaaa','cherry']
a.sort(key=len )
print(a)

['data', 'apple', 'cherry', 'bananaaa']

In [40]:
a=["Cherry","Apple","banana","berry"]
a.sort(key=str.lower)
print(a)

['Apple', 'banana', 'berry', 'Cherry']

In [41]:
a=[1,-9,3,5,-1,39,45]
a.sort(key=abs)
print(a)

[1, -1, 3, 5, -9, 39, 45]